# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# web cache
# static/
# templates/

# data and results
!results/refcocos_test.json
!results/openimages_test.json
!results/data-coco-multiple-instances.json
*.csv
*.json
*.jpg

# temp files
trash/
.trash/